
.tb-page-education{
    padding-top: 30px;
    h1,h2{
        font-weight: bold;
    }
    .row > hr{
        margin: 60px 0 30px;
    }
    .button{
        &.info{
            min-width: 210px;
            &.wide{
                width: 100%;
            }
        }
        &.radius{
            font-weight: bold;
        }
    }
    .tb-heading{

        @media #{$medium-up} {
            margin-top: 150px;
        }
    }
    .tb-copy-container{
        @media #{$small-only} {
            .button{
                width:100%;
            }
            figure{
                text-align: center;
                img{
                    width:100%;
                }
                figcaption{
                    text-align: left;
                }
            }
        }
        @media #{$medium-up} {
            figure{
                img{
                    margin-top: 30px;
                }
                figcaption{
                    margin-top: 20px;
                }
            }
        }
    }
    ul.tb-list{
        list-style-image: url('../images/bullets.png');
    }
    #tb-sidebar{
        figcaption{
            margin-top: 10px;
        }
        hr{
            display: none;
        }
        h4{
            font-weight: bold;
        }
        .related-videos{
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            border-top: none;
            a, a *{
                color: #222;
                font-size: rem-calc(12);
            }
        }
    }
    .tb-links-related{
        a{
            @include linx($link, $link, $link, $link);
            border-bottom: 1px solid $link;
        }
    }
    @media #{$small-only} {
        #tb-sidebar{
            hr{
                display: block;
            }
            h4{
                float: left;
                width: 100%;
            }
            figure{
                float: left;
                width: 100%;
                margin-bottom: 20px;
            }
            figcaption {
                float: left;
                width: 75%;
            }
            img{
                float: left;
                width: 20%;
                margin-right: 5%;
            }
            .related-videos{
                margin-top: 20px;
                padding-top: 20px;
                border-bottom: none;
                border-top: 1px solid #ddd;
            }
            .button{
                width:100%;
            }

        }
    }
}
