#tb-content {
    padding-bottom: 30px;
    padding-top: 30px;
    background: #fff;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
/// Style override //
nav {
  height: auto;//40px;
  margin: inherit;// 0 auto;
  max-width: none; //960px;
  position: inherit;//relative;
  z-index: inherit;//49;
}
header {
  margin-bottom: inherit;//13px;
  position: inherit; //relative;
  z-index: inherit;//500;
}
footer {
  margin: inherit;//0 auto;
  width: inherit;//1020px;
}
ul.sub-menu{
    visibility:visible;
}
.tips-advice-content{
  .content-header{
    .caption{
      box-sizing: content-box;  
    }
  } 
}

.r-gf{
  .connect-signup{
    .social{
      ul{
        li{
          a{
            background-image: url("https://mtdp.co/wcpics/Troy/en_US/social-icons.png");
            background-repeat: no-repeat;
            background-size: 236px 42px;
          }
        }    
      }   
    }  
  }
}

.r-gf{
  .sub-footer{
    p{
      text-align: center;
    }
  }
} 
.tips-advice-content{
  .content-header{
    .caption{
      z-index: 1;
    }
  }
}
.product-listing-content{
  .category-header{
    .caption{
      z-index: 1;
    }
  }
}

input:invalid{
  &,textarea:invalid{
    background-color: inherit;
  }
}
.email-signup{
  input {
    float: inherit;
    height: inherit;
  }
}


// CENTERED FOOTER
@media only screen and (min-width: 48em){
.r-gf .product-categories li {
    width: 20%;
  }
}
@media only screen and (min-width: 48em){
  .r-gf .connect-signup {
      padding: 25px 0px 10px;
  }
  .r-gf .social{
      display: block;
      float: none;
      width: 100%;
      margin: auto;
      text-align: center
  }
}
@media only screen and (min-width: 60em){
.r-gf .connect-signup h5 {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}
.social{
  ul{
    width: auto
  }
}

/*FIX STATIC HEADER QUERY*/
@media only screen and (max-width: 116.25em) {
   .r-gh.mult .secondary-nav.anonymous{
      float: none;
      position: relative;
      max-width: 930px;
      margin: auto;
    }
  .r-gh.mult .global-nav .secondary-nav.anonymous ul{
    float: right;
    padding-right: 80px
  }
}

.r-gf{
  &:not(.mult)
  .product-categories{
    li{
      @include bp-tablet{
        width: 16.6666%;
      }
    }
  }
}