<!doctype html>
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foundation project</title>
        <!-- build:css css/libraries.min.css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/slick.js/slick/slick.css" />
        <link rel="stylesheet" href="../bower_components/slick.js/slick/slick-theme.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css css/app.min.css
        <link href="alep/js/slick/slick.css" rel="stylesheet" media="all">  -->
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/app_override.css">
        <!-- endbuild -->
        <!-- build:js js/vendor/modernizr.min.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
  <body>

    <h1>Troy Bilt</h1>
    <h2>troybilt.ca Header/Footer Implementation</h2>
    <ul>
        <li><a href="../static/faq.html">Faq</a></li>
        <li><a href="../static/meet-the-saturday-six.html">Meet the saturday Six</a></li>
        <li><a href="../static/part-listing.html">Part listing</a></li>
        <li><a href="../static/owner-manual-listing.html">owner-manual-listing</a></li>
        <li><a href="../static/owner-manual-disclaimer.html?storeId=10001&langId=-1&catalogId=14102&krypto=3GpFcSqfJwW%2BzRTRpSfd6nLVShefBTn6sHRo9voubC9nHw4Xk75uNq2bfnmTg2ylZ2EnAIWSD8sz75WGXjp43A%3D%3D&ddkey=http:ProductReviewsLandingDisplayView">owner-manual-disclaimer</a></li>

        <li><a href="../static/product-review-login.html">product-review-login</a></li>
        <li><a href="../static/product-review-form.html">product-review-form</a></li>
        <li><a href="../static/about-us.html">About Us</a></li>
        <li><a href="../static/how-we-are-built.html">How We're Built</a></li>
        <li><a href="../static/contactus.html">Contact Us</a></li>
        <li><a href="../static/parts-detail.html">Parts Detail</a></li>
        <li><a href="../static/parts-finder.html">Parts & Manual Finder</a></li>
        <li><a href="../static/service-locator.html">Service Locator</a></li>
        <li><a href="../static/dirt-landing-page.html">Dirt Landing Page</a></li>
        <li><a href="../static/register-product-landing.html">Register Product landing</a></li>
        <li><a href="../static/financing.html">Financing</a></li>
        <li><a href="../static/find-model-number.html">Locating Your Model and Serial Numbers</a></li>
        <li><a href="../static/winter-seasonal.html">Seasonal Landing Pages</a></li>
        <li><a href="../static/dynosite.html">Dynosite</a></li>
        <li><a href="../static/where-to-buy.html">Where To Buy</a></li>
        <li><a href="../static/driving-directions.html">Driving Directions</a></li>
        <li><a href="../static/ari-model-finder.html">ARI Model Finder</a></li>
        <li><a href="../static/ari-parts-finder.html">Ari Part Finder</a></li>
    </ul>
    <h2>troybilt.com (US) Header/Footer Implementation</h2>
    <ul>
        <li><a href="../static2/faq.html">Faq</a></li>
        <li><a href="../static2/meet-the-saturday-six.html">Meet the saturday Six</a></li>
        <li><a href="../static2/part-listing.html">Part listing</a></li>
        <li><a href="../static2/owner-manual-listing.html">owner-manual-listing</a></li>
        <li><a href="../static2/owner-manual-disclaimer.html?storeId=10001&langId=-1&catalogId=14102&krypto=3GpFcSqfJwW%2BzRTRpSfd6nLVShefBTn6sHRo9voubC9nHw4Xk75uNq2bfnmTg2ylZ2EnAIWSD8sz75WGXjp43A%3D%3D&ddkey=http:ProductReviewsLandingDisplayView">owner-manual-disclaimer</a></li>

        <li><a href="../static2/product-review-login.html">product-review-login</a></li>
        <li><a href="../static2/product-review-form.html">product-review-form</a></li>
        <li><a href="../static2/about-us.html">About Us</a></li>
        <li><a href="../static2/how-we-are-built.html">How We're Built</a></li>
        <li><a href="../static2/contactus.html">Contact Us</a></li>
        <li><a href="../static2/parts-detail.html">Parts Detail</a></li>
        <li><a href="../static2/parts-finder.html">Parts & Manual Finder</a></li>
        <li><a href="../static2/service-locator.html">Service Locator</a></li>
        <li><a href="../static2/dirt-landing-page.html">Dirt Landing Page</a></li>
        <li><a href="../static2/register-product-landing.html">Register Product landing</a></li>
        <li><a href="../static2/financing.html">Financing</a></li>
        <li><a href="../static2/find-model-number.html">Locating Your Model and Serial Numbers</a></li>
        <li><a href="../static2/winter-seasonal.html">Seasonal Landing Pages</a></li>
        <li><a href="../static2/dynosite.html">Dynosite</a></li>
        <li><a href="../static2/where-to-buy.html">Where To Buy</a></li>
        <li><a href="../static2/driving-directions.html">Driving Directions</a></li>
        <li><a href="../static2/ari-model-finder.html">ARI Model Finder</a></li>
        <li><a href="../static2/ari-parts-finder.html">Ari Part Finder</a></li>
    </ul>

    <h2>Product Pages</h2>
    <ul>
        <li><a href="../layout.html">Header and footer base ../layout</a></li>
        <li><a href="../layout-products.html">Product details</a></li>
        <li><a href="../layout-listing.html">Product Listing</a></li>
        <li><a href="../layout-landing.html">Category Landing </a></li>
        <li><a href="../layout-education.html">Category Education</a></li>
    </ul>

    <h2>KC Article and Landing Pages</h2>
    <ul>
        <li><a href="../externals/Article Multiple Text & Images.html">Article Multiple Text & Images</a></li>
        <li><a href="../externals/Landing List Template.html">Landing List Template</a></li>
        <li><a href="../externals/Landing Engagement Template.html">Landing Engagement Template</a></li>
        <li><a href="../externals/Landing Video Template.html">Landing Video Template</a></li>
        <li><a href="../externals/Landing Side-by-Side Template.html">Landing Side-by-Side Template</a></li>
        <li><a href="../externals/Article Single Image.html">Article Single Image</a></li>
        <li><a href="../externals/Article Video Feature.html">Article Video Feature</a></li>
    </ul>
    
    <!-- <h2>US/CAN Header & Footer Integration</h2>
    <ul>
        <li><a href="/HeaderFooterResponsive/us&can/Product Comparison.html">Product Comparison Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Product Finder - Troy-Bilt.html">Product Finder Selection Criteria - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Product Finder Results - Troy-Bilt.html">Product Finder Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Register or Log In.html">Login Page - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Register.html">User Registration - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Change Password.html">Forgot Password - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Forget Password_.html">Forgot Password Sent - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Password.html">Forgot Password Confirm - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Register.html">My Information - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/OperatorManualView.html">Operator's Manual Finder - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us&can/Privacy Policy Statement.html">Privacy Policy - US and CA</a></li>
    </ul> -->

    <h2>US Header & Footer Integration</h2>
    <ul>
        <li><a href="/HeaderFooterResponsive/us/Order status.html">My Orders - US only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Order status.html">Guest Order Tracking - US Only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Add%20a%20Review.html">Add a Review - US only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Preview%20Review.html">Preview Review - US only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Thank%20You!.html">Thank You - US only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Furvel's Contributions.html">Product Review Read all reviews - US Only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Order status.html">Order Tracking Search (not logged in) - US ONLY</a></li>
        <li><a href="/HeaderFooterResponsive/us/Online Policies.html">Online Policies Landing page - US ONLY</a></li>
        <li><a href="/HeaderFooterResponsive/us/TroyBilt.com Store Policies.html">Returns Policy - US ONLY</a></li>
        <li><a href="/HeaderFooterResponsive/us/SearchDisplay.html">Search Results - US Only</a></li>
        <li><a href="/HeaderFooterResponsive/us/Public Social Media Policy.html">Social Media Policy - US ONLY</a></li>
        <li><a href="/HeaderFooterResponsive/us/Product Recalls.html">Recalls - US ONLY</a></li>
        <hr>
        <li><a href="/HeaderFooterResponsive/us/Product Comparison.html">Product Comparison Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Product Finder - Troy-Bilt.html">Product Finder Selection Criteria - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Product Finder Results - Troy-Bilt.html">Product Finder Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Register or Log In.html">Login Page - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Register.html">User Registration - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Change Password.html">Forgot Password - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Forget Password_.html">Forgot Password Sent - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Password.html">Forgot Password Confirm - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Register.html">My Information - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/OperatorManualView.html">Operator's Manual Finder - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/us/Privacy Policy Statement.html">Privacy Policy - US and CA</a></li>
    </ul>


    <h2>CAN Header & Footer Integration</h2>
    <ul>
        <li><a href="/HeaderFooterResponsive/can/SearchDisplay.html">Search Results - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/Product Registration.html">Product Registration page - CA only</a></li>
        <li><a href="/HeaderFooterResponsive/can/About Troy-Bilt.html">About Us - CA only</a></li>
        <li><a href="/HeaderFooterResponsive/can/faq.html">FAQ (2 pages) - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/FAQCategoryView.html">FAQ Category View - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/DisplayContentView.html">Locating Your Model and Serial Numbers - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/Store Locator Results.html">Store Locator - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/Service Locator Results.html">Service Locator - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/operator-manuals.html">Operator's Manuals - CA Only</a></li>
        <li><a href="/HeaderFooterResponsive/can/Troy-Bilt Contact Us.html">Contact Us - CA Only</a></li>
        <hr>
        <li><a href="/HeaderFooterResponsive/can/Product Comparison.html">Product Comparison Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Product Finder - Troy-Bilt.html">Product Finder Selection Criteria - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Product Finder Results - Troy-Bilt.html">Product Finder Results - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Register or Log In.html">Login Page - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Register.html">User Registration - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Change Password.html">Forgot Password - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Forget Password_.html">Forgot Password Sent - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Password.html">Forgot Password Confirm - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Register.html">My Information - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/OperatorManualView.html">Operator's Manual Finder - US and CA</a></li>
        <li><a href="/HeaderFooterResponsive/can/Privacy Policy Statement.html">Privacy Policy - US and CA</a></li>
    </ul>



    <!-- build:js js/vendor/libraries.min.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/fastclick/lib/fastclick.js"></script>
    <script src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="../bower_components/slick.js/slick/slick.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/vendor/foundation.min.js -->
    <script src="bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.joyride.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.slider.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
    <!-- endbuild -->
    <!-- build:js js/app.min.js -->
    <script src="js/jquery.knob.js"></script>
    <script src="js/slick-mod.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->


  </body>
</html>
